<a href="https://colab.research.google.com/github/mathewmahoneyds20/DS-Unit-1-Build/blob/master/Unit_1_Build_Week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style as style
import pandas as pd
import seaborn as sns

#csv file
filename="/content/drive/My Drive/datasets/birthorderadd.csv"

#initialize the t
names=('total_siblings', 'your_birth_number', 'drink_alcohol_days', 'alcohol_5_drinks', 'marijuana_tried', 'tried_cocaine', 'lied_to_parents', 'group_fight', 'adults_care','parents_care', 'family_pays_attention')

df_raw = pd.read_csv("/content/drive/My Drive/datasets/birthorderadd.csv", header=0, usecols=['H1HR14','H1HR15', 'H1TO15', 'H1TO17', 'H1TO31', 'H1TO36', 'H1DS3',
        'H1DS14','H1PR1','H1PR3','H1PR8'])

df = pd.DataFrame(data )




# Define a list of models that we want to review
total_siblings = [1, 2, 3, 4, 5]


# Create a copy of the data with only the top 8 manufacturers
df = data[data.total_siblings.isin(total_siblings)].copy()

AttributeError: ignored

In [ ]:

# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
sns.pairplot(first_born)

In [68]:
style.use('fivethirtyeight')
df.plot.bar(x = 'H1TO31', y = first_born, figsize = (12,8))

ValueError: ignored

In [32]:
df.head()

   H1HR14  H1HR15  H1TO15  H1TO17  H1TO31  ...  H1DS3  H1DS14  H1PR1  H1PR3  H1PR8
0       2       1       2       1     996  ...      0       1      5      5      4
1       2       2       5       6     997  ...      1       0      5      5      3
2       1      97      97      97     997  ...      0       0      5      5      4
3       1      97      97      97      12  ...      1       0      5      5      5
4       5       2       6       7     997  ...      3       0      5      5      3

[5 rows x 11 columns]

In [89]:
df_75 = df[df['H1TO31'] < 75]

first_born_df = df[df['H1HR15'] == 1]
second_born_df = df[df['H1HR15'] == 2]
third_born_df = df[df['H1HR15'] == 3]
fourth_born_df = df[df['H1HR15'] == 4]

first_born_df.H1TO31.isin(years)


first_born_df.head()
first_born_df.H1TO31.value_counts()

TypeError: ignored

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   H1HR14  488 non-null    int64
 1   H1HR15  488 non-null    int64
 2   H1TO15  488 non-null    int64
 3   H1TO17  488 non-null    int64
 4   H1TO31  488 non-null    int64
 5   H1TO36  488 non-null    int64
 6   H1DS3   488 non-null    int64
 7   H1DS14  488 non-null    int64
 8   H1PR1   488 non-null    int64
 9   H1PR3   488 non-null    int64
 10  H1PR8   488 non-null    int64
dtypes: int64(11)
memory usage: 42.1 KB

In [36]:
#Find the amount of children each row respondent comes from 
df.H1HR14.value_counts()

2     182
1     105
3     102
4      48
5      22
7       8
6       8
8       4
98      3
12      3
9       2
96      1
Name: H1HR14, dtype: int64

In [69]:
pd.crosstab(first_born, second_born)

ValueError: ignored

In [71]:
second_born.H1TO31

1      997
4      997
7       10
14     997
18       4
      ...
465    997
467    997
468    997
472    997
483     20
Name: H1TO31, Length: 128, dtype: int64

In [96]:
pd.crosstab(index = first_born.H1TO31 , columns=first_born.H1TO31)

H1TO31  1    2    3    4    5    6    7    ...  50   100  200  300  996  997  998
H1TO31                                     ...
1         7    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2         0    1    0    0    0    0    0  ...    0    0    0    0    0    0    0
3         0    0    2    0    0    0    0  ...    0    0    0    0    0    0    0
4         0    0    0    1    0    0    0  ...    0    0    0    0    0    0    0
5         0    0    0    0    3    0    0  ...    0    0    0    0    0    0    0
6         0    0    0    0    0    2    0  ...    0    0    0    0    0    0    0
7         0    0    0    0    0    0    1  ...    0    0    0    0    0    0    0
8         0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
10        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
14        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
15        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
20        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
25        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
44        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
50        0    0    0    0    0    0    0  ...    1    0    0    0    0    0    0
100       0    0    0    0    0    0    0  ...    0    2    0    0    0    0    0
200       0    0    0    0    0    0    0  ...    0    0    1    0    0    0    0
300       0    0    0    0    0    0    0  ...    0    0    0    2    0    0    0
996       0    0    0    0    0    0    0  ...    0    0    0    0    5    0    0
997       0    0    0    0    0    0    0  ...    0    0    0    0    0  120    0
998       0    0    0    0    0    0    0  ...    0    0    0    0    0    0    5

[21 rows x 21 columns]